$image-width: 128px;

:host ::ng-deep .plain-container {
  display: table-cell !important;
}

::ng-deep #current-image {
  max-height: 85vh !important;
  max-width: 85vw !important;
  height: auto !important;
  width: auto !important;
}
