
<div style="height: 100%;">
  <div style="height: 64px;">
    <mat-toolbar color="primary">
      <!--button mat-icon-button class="example-icon">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button-->
      <span>Photo Map</span>
      <a mat-button *ngFor="let item of menuItems" [routerLink]="item.route"> {{item.title}} </a>
      <span class="example-spacer"></span>
      <a mat-button>Yandex.Disk: {{ yandexDiskAuthorized ? 'Authorized' : 'Not authorized' }}</a>
      <a mat-button>Dropbox: {{ dropboxAuthorized ? 'Authorized' : 'Not authorized' }}</a>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div style="height: calc(100% - 64px);">
    <router-outlet></router-outlet>
  </div>
  
  <!--mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route"> {{item.title}} </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container-->
  
  
</div>

