<mat-paginator
    [length]="totalCount"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizes"
    [showFirstLastButtons]="true"
    (page)="pageUpdated($event)">
</mat-paginator>

<div class="spinner-wrapper" *ngIf="showSpinner" style="height: calc(100% - 64px);">
    <mat-spinner></mat-spinner>
</div>

<section>
    <ks-modal-gallery
        [id]="1"
        [modalImages]="images"
        [previewConfig]="{visible: false}"
        [dotsConfig]="dotsConfig"
        [buttonsConfig]="buttonsConfig"
        [plainGalleryConfig]="plainGalleryGridConfig">
    </ks-modal-gallery>
</section>

<app-scroll-top></app-scroll-top>
