<mat-list>
    <mat-list-item *ngIf="needsAuthorization">You are not authorized.</mat-list-item>
    <mat-list-item *ngIf="!needsAuthorization">You are authorized. Token expires on {{tokenExpires}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Status: {{status}} | {{progressString}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngIf="hasError">Error: {{error}}</mat-list-item>
    <mat-divider *ngIf="hasError"></mat-divider>
    <mat-list-item *ngIf="isRunning">
        <p>{{progressBarValue.toFixed(1)}}%</p>
        <mat-progress-bar [mode]="progressBarMode" [value]="progressBarValue"></mat-progress-bar>
    </mat-list-item>
    <mat-divider *ngIf="isRunning"></mat-divider>
    <mat-list-item>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="authorize()">Authorize using Yandex.Disk account</button>
            <button mat-raised-button color="primary" (click)="startStopProcessing()">
                <mat-icon *ngIf="isRunning">pause</mat-icon>
                <mat-icon *ngIf="!isRunning">play_arrow</mat-icon>
                {{action}} photo processing
            </button>
            <button mat-raised-button color="warn" (click)="deleteAllData()">Delete all data</button>
        </div>
    </mat-list-item>
</mat-list>
