<google-map
    width="100%"
    height="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options">
    <map-info-window>
        <div style='float:left'>
            <img src='{{currentImageUrl}}'>
        </div>
        <div style='float:right; padding: 10px;'>
            <b>Title</b>
            <br/>123 Address
            <br/> City,Country
        </div>
    </map-info-window>
    <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem)">
    </map-marker>
</google-map>
